.tasks {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tasks .task{
  position: relative;
  border: 1px solid black;
  width: 200px;
  border-radius: 5px;
  min-height: 200px;
  text-decoration: none;
  box-shadow: 0 0 1px 2px lightblue;
  transition: .3s;
}
@media(max-width:500px){
  .tasks .task{
    width:150px
  }
}
.task:hover{
  box-shadow: 0 0 5px 10px lightblue;
}
.tasks .time{
  position: absolute;
  bottom:0px;
  text-align: end;
  width:100%;
  padding: 0 10px
}
.dark .tasks .time {
  color: black
}


.dark .home-module input{
    background-color: transparent;
    color:white
}

.home-module ul {
  list-style: none;
  padding: 0;
}

.dark .home-module ul{
  color: white;
}

