.dark .navbar {
  background-color: rgb(12, 10, 10)!important;
  color:white;
}
.dark .navbar a{
  color:white;
}
.dark .navbar .navbar-toggler{
  background-color: rgb(221, 218, 218);
  
}

.language{
  position: relative;
}
.language .opt-langs{
  position: absolute;
  top:100%;
  left:0%;
  border-radius: 5px;
  list-style: none;
  transform: scale(0);
  transition: .3s;
  padding: 0;
  width:100px;
  background-color: rgba(19, 19, 18, 0.63);;
}
.language:hover .opt-langs{
  transform: scale(1);
}
.language .opt-langs li{
  padding: 5px;
  align-items: center;
  background-color: #1990d7de;
  border-radius: 5px;
  margin:5px 0;
  transition: .3s;
}
.language .opt-langs li:hover{
  transform: scale(1.03);
  background-color: rgb(17, 172, 120);
}
.light .bi-moon-fill{
    display: none;
}
.dark .bi-moon-fill,.light .bi-brightness-high-fill{
 cursor: pointer;
 padding:0 10px
}

.dark .bi-brightness-high-fill{
  display:none
}

.container-fluid .btns{
  display: flex;
  justify-content: space-between;
  width:100%;
  align-items: center;
}
.container-fluid{
  flex-wrap: nowrap;
}
.navbar-brand{
  width:100%;
  text-align: center;
}
@media(max-width:975px){
  .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .container-fluid .btns{
    display: flex;
    justify-content: space-between;
    width:100%
  }
}
ul.navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}