.mymodal {
  animation: move 0.3s ease-in-out;
}

@keyframes move {
  0% {
    scale: 0;
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(auto);
    scale: 1;
  }
}
